################################################################################
# Git Ignoring files
# Exemple at https://github.com/github/gitignore/tree/master/Global
################################################################################

######################################################################## Emacs #
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

########################################################################## Vim #
.*.sw[a-z]
*.un~
Session.vim

