[submodule "racket/webAppInRacket/style/flat-ui"]
	path = racket/webAppInRacket/style/flat-ui
	url = git@github.com:designmodo/Flat-UI.git
[submodule "racket/proverif/fill-rastache"]
	path = racket/proverif/fill-rastache
	url = git@github.com:rcherrueau/rastache.git
	branch = fill-rastache
[submodule "idris/idris-free"]
	path = idris/idris-free
	url = git@github.com:idris-hackers/idris-free.git
[submodule "tla+/nixpkgs"]
	path = tla+/nixpkgs
	url = git@github.com:rcherrueau/nixpkgs.git
	branch = tla+-tools
