package-lock.json

# Created by https://www.toptal.com/developers/gitignore/api/reasonml
# Edit at https://www.toptal.com/developers/gitignore?templates=reasonml

### Reasonml ###
/lib
.bsb.lock
.merlin
.parcel-cache

# End of https://www.toptal.com/developers/gitignore/api/reasonml


# Created by https://www.toptal.com/developers/gitignore/api/react
# Edit at https://www.toptal.com/developers/gitignore?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react

