body {
	padding: 10px;
}

/* Stock list header */
.watchListHeader {
	background-color: #2032B8;
	color: white;
	font-style: italic;
}

.watchList {
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
}

.watchListNumericColumn {
	text-align: right;
	width: 8em;
}

.watchListRemoveColumn {
  text-align: center;
}

/* Add Stock panel */
.addPanel {
  margin: 10px 0px 15px 0px;
}

/* stock list, the Remove button */
.gwt-Button-remove {
  width: 50px;
}

/* Dynamic color changes for the Change field */
.noChange {
  color: black;
}

.positiveChange {
  color: green;
}

.negativeChange {
  color: red;
}

.errorMessage {
  color: red;
}