<div class="col-12 col-md-7">
    <h1>Dr. Ronan-Alexandre Cherrueau</h1>
    <p>
        I am a research engineer at
        <a href="https://www.inria.fr/centre/rennes">Inria Bretagne</a>
        working on the <a href="https://beyondtheclouds.github.io/">Discovery</a> initiative.
        My work focuses on massively distributed cloud computing
        infrastructures for fog/edge computing. In particular, make
        the OpenStack infrastructure natively distributed.
    </p>

    <p>
        I obtained a Ph.D in computer science from the École des Mines
        in Nantes, France, as part of the <a
        href="http://web.emn.fr/x-info/ascola/doku.php">ASCOLA</a> research
        team. My Ph.D thesis defines and studies a functional language
        to write cloud applications that preserves users' privacy. I
        was advised by Prof.
        <a href="http://web.emn.fr/x-info/sudholt/">Mario Südholt</a>
        up until my graduation in November 2016.
    </p>

    <p>
        My research interests consider programming language, cloud
        computing and distributed applications. More generally, I like
        to <a href="https://github.com/rcherrueau/APE">experiment</a>
        with different programming languages and paradigms.
    </p>
</div>

<div class="col-12 col-md-4 offset-md-1">
    <address>
        <img src="assets/me.jpg" class="img-fluid rounded">
        <strong>Email:</strong> (λx.λy.x@y) Ronan-Alexandre.Cherrueau inria.fr<br/>
        {{! <strong>PGP Key:</strong> }}
        {{! <strong>Phone:</strong> +33 (0)2 51 85 82 58<br/> }}
        <strong>Address:</strong><br/>
        IMT Atlantique</br>
        La Chantrerie,
        4, rue Alfred Kastler, BP 20722<br/>
        44307 NANTES Cedex 3<br/>
        <strong>Office:</strong> A253<br/>
        <strong>GitHub, irc, twitter:</strong> rcherrueau
    </address>
</div>
