
# Created by https://www.gitignore.io/api/racket

### Racket ###
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#
*.dep
*.zo

compiled

## Compiled
_the_asm_code.s
_the_asm_code.o

## compiled examples
!examples/*.rkt

# End of https://www.gitignore.io/api/racket
