/* Commons */
:root {
    --mdc-layout-grid-margin-desktop: 8px;
    --mdc-layout-grid-gutter-desktop: 4px;
    --mdc-layout-grid-margin-tablet: 8px;
    --mdc-layout-grid-gutter-tablet: 4px;
    --mdc-layout-grid-margin-phone: 8px;
    --mdc-layout-grid-gutter-phone: 4px;
}

/* .mdc-text-field:not(.mdc-text-field--disabled), */
/* .mdc-text-field--focused { */
/*     background-color: white; */
/* } */

/* body { */
/*     background-color: rgba(0, 0, 0, 0.05); */
/* } */


/* header contains the result and new-entry parts */
header {
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0px;
}

header > div > .mdc-layout-grid {
    width: 100%;
}


/* RESULTS-LABEL (Total Qté, Prix Moy, Moy Min, Moy Max) */
#results-label > .mdc-layout-grid__cell > label {
    font-weight: bold;
    font-size: 13px;
}


/* RESULTS (Total Qté, Prix Moy, Moy Min, Moy Max) */
#results > .mdc-layout-grid__cell > p {
    font-size: 16px;
    margin-bottom: 0px;
}


/* NEW ENTRY (Qté, Prix, Shipping, +) */
#new-entry.mdc-layout-grid {
    padding-top: 0;
    padding-bottom: 0;
}

#new-entry .mdc-layout-grid__cell {
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

/* #9453f3 */
#new-entry .mdc-layout-grid__cell .mdc-text-field {
    /* margin-top: 4px; */
    margin: 0px;
    width: 100%;
}


/* ENTRIES */
#entries {
    height: 100%;
    margin-top: 140px;
    margin-bottom: 65px;
    overflow-y: auto;
    z-index: -1;

    --mdc-layout-grid-margin-desktop: 0px;
    --mdc-layout-grid-gutter-desktop: 4px;
    --mdc-layout-grid-margin-tablet: 0px;
    --mdc-layout-grid-gutter-tablet: 4px;
    --mdc-layout-grid-margin-phone: 0px;
    --mdc-layout-grid-gutter-phone: 4px;
}

#entries > * > * > * > .mdc-layout-grid__inner {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    padding: 8px 8px;
}

#entries > * > * > * > .mdc-layout-grid__inner > .mdc-layout-grid__cell {
    margin: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#entries button, #entries .mdc-checkbox {
    z-index: -1;
}

#entries p {
    margin-bottom: 0;
    text-align: left;
}

#entries p textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* PARAMS (Coef min, Coef max, % Shipping, Reset) */
#params {
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0px;
    /* box-shadow: 0px -3px 1px -2px rgba(0, 0, 0, 0.2), */
    /*             0px -2px 2px 0px rgba(0, 0, 0, 0.14), */
    /*             0px -1px 5px 0px rgba(0, 0, 0, 0.12); */
}

#params .mdc-layout-grid__cell {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#params .mdc-text-field {
    margin-top: 0;
}
