body {
    font-family: 'Fira Sans', sans-serif;
    background-color: #fdf6e3;
    color: #657b83;
    font-weight: 300;
}

nav, .jumbotron {
    background-color: #073642;
    background-color: #002b36;
}

h1, h2, h3, h4 {
    color: #cb4b16;
    font-weight: 300;
}

a {
    color: #cb4b16;
}

a:hover {
    color: #cb4b16;
    background-color: #eee8d5;
}

.jumbotron p {
    font-size: 18px;
}

body > .container {
    font-size: 18px;
    font-weight: 300;
}

body > .container a {
    text-decoration: underline;
}

body > .container .articles a {
    text-decoration: none;
}

footer {
    font-size: 12px;
}

/* Contact */
#contact {
    font-size: 11px;
}

#contact img {
    margin-bottom: 10px;
}

/* Publications */
ul.articles {
    list-style-type: none;
    padding-left: 0px;
}

ul.articles ul {
    list-style-type: none;
    padding-left: 30px;
}

ul.articles ul li {
    border-left-width: thin;
    border-left-style: solid;
    border-left-color: #cb4b16;
    padding-bottom: 5px;
    padding-left: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        /* width: 970px; */
    }

    .navbar {
        border-radius: 0px;
        background-color: #073642;
        border: none;
        margin-bottom: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar-collapse {
        padding-left: 0;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:focus,
    .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: transparent;
    }

    .jumbotron {
        padding-top: 0;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 940px;
    }
}

/* Cli cmd */
#cli {
    color: #2aa198;
    color: #268bd2;
    color: #cb4b16;
    color: #dc322f;
    color: #cb4b16;
    font-weight: normal;
}

#cli-cursor {
    padding-left: 2px;
}
